@model Web.Models.Songs.SongsIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Request a song</h1>

<p>
    <a asp-action="Create">Add New</a>
</p>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<table class="table" align="right">

    <body>
        @foreach (var item in Model.Items)
        {
            <div class="Video" href="Style.css">
                <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                <iframe width="400" height="315"
                        src="@Html.DisplayFor(modelItem => item.Url)" class="wow fadeInUp">
                </iframe>
                <div class="Rating">
                    <h5>

                        <button type="button" class="btn btn-default" href="Style.css">
                            <span class="glyphicon glyphicon-arrow-up" onclick="upvote" aria-hidden="false"></span>
                        </button>

                        @Html.DisplayFor(modelItem => item.Rating)

                        <button type="button" class="btn btn-default" href="Style.css">
                            <span class="glyphicon glyphicon-arrow-down" onclick="downvote"></span>
                        </button>

                    </h5>
                </div>
            </div>
            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            @Html.ActionLink("Download", "DownloadVideo", new { id = item.Id})
            
        }
    </body>

</table>
